.workouts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #e4e4e4;
  padding: 20px;
}

.chart {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.stats-container {
  display: flex;
  gap: 20px;
}

.custom-workout-plan {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.custom-workout-plan .workout-plan-content {
  flex: 1;
}

.custom-workout-plan .workout-plan-image {
  flex: 1;
}

.custom-workout-plan img {
  max-width: 100%;
  border-radius: 20px;
}
.workout-type {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  flex: 1;
}

.workout-type h3 {
  margin-bottom: 10px;
}

.workout-type ul {
  list-style: none;
  padding: 0;
}

.workout-type li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.custom-workout-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.workout-plan-content {
  flex: 1;
}

.workout-plan-content h4 {
  margin-bottom: 10px;
}

.workout-plan-image {
  flex: 1;
}

.workout-plan-image img {
  max-width: 100%;
  border-radius: 20px;
}
