.home {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #e4e4e4;
}

.main-content-wrapper {
  flex: 1;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 280px;
  right: 0;
  z-index: 1;
  height: 60px;
}
.sidebar {
  z-index: 2;
}

.main-content {
  flex: 1;
  margin-top: 60px;
  overflow-y: auto;
  padding: 30px;
}

.charts {
  margin-top: 20px;
}

.charts > div {
  background-color: #ffffff;
  border-radius: 25px;
  /* margin-bottom: 20px; */
}

.goals-chart,
.progress-chart {
  padding: 20px;
}

.goals-chart {
  margin-top: 30px;
}

.progress-chart {
  height: 315px;
  padding-left: 30px;
}

.header-2 {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
}

.main-chart {
  margin-left: 25px;
  margin-right: 25px;
  height: 280px;
}

@media (max-width: 1024px) {
  .main-content-wrapper {
    margin-left: 30px;
  }
  .header {
    left: 220px;
  }
}

@media (max-width: 768px) {
  .main-content-wrapper {
    margin-left: -10px;
  }
  .header {
    left: 160px;
  }
}

@media (max-width: 480px) {
  .main-content-wrapper {
    margin-left: -20px;
  }
  .header {
    left: 160px;
  }
}
