.home {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
  background-color: #d1cece6b;
  padding: 20px;
}

.charts {
  margin-top: 20px;
}

.charts > div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.goals-chart {
  padding: 20px;
}

.progress-chart {
  height: 315px;
  padding-left: 30px;
}

.goals-chart h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
}

.goals-chart button {
  background-color: #2d7a78;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.main-chart {
  margin-left: 25px;
  margin-right: 25px;
  height: 280px;
}
